:root {
  /* for custom variable declaration */
  --sidebar-inactive-color: #909296;
  --sidebar-active-color: #fff;
  --dashboard-font-color: #000;
  --dashboard-highlight-color: #333;
  --dashboard-inactive-color: var(--sidebar-inactive-color);
  --diff-number-color: #eee;
  --diff-border-color: var(--primary);
  --diff-line-color: #fff;
  --diff-highlight-left-color: rgb(191, 249, 162);
  --diff-highlight-right-color: rgb(255, 165, 147);
  --diff-crossout-color: rgb(209, 209, 209);
}

/* Scrollbar styling for webkit-browsers. */
::-webkit-scrollbar {
  padding: 0px;
  margin: 0px;
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track-piece  {
  background-color: var(--secondary);
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: var(--primary);
}

::-webkit-scrollbar-thumb:horizontal {
  width: 10px;
  background-color: var(--primary);
}

.margin-top, .padding-top {
  margin-top: 4rem;
}

.position-relative {
  position: relative
}

textarea {
  resize: none;
}

/* Sidebar specific code, pulled from
 * https://getbootstrap.com/docs/4.1/examples/dashboard/
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 4rem 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 4rem);
  padding: .5rem;
  padding-top: 1rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar-inner {
  margin: 0.5rem;
  overflow-x: hidden;
}

.sidebar-heading {
  font-size: 1.5rem;
  color: var(--sidebar-active-color);
}

.sidebar .category {
  margin-left: 0.75rem;
  padding-bottom: 0.75rem;
}

.sidebar .category label {
  color: var(--sidebar-active-color);
  overflow: ellipsis;
  white-space: nowrap;
}

.sidebar .nav-link {
  font-weight: 500;
  display: inline-block;
  color: var(--sidebar-inactive-color);
}

.sidebar .nav-link .fas {
  margin-right: 4px;
  color: var(--sidebar-inactive-color);
}

.sidebar .nav-link.active {
  color: var(--sidebar-active-color);
}

.sidebar .nav-link:hover {
  color: var(--sidebar-active-color);
}

.sidebar .nav-link:hover .fas,
.sidebar .nav-link.active .fas {
  color: inherit;
}

.sidebar .cat-link {
  font-weight: 500;
  color: var(--sidebar-inactive-color);
}

.sidebar .cat-link .fas {
  margin-right: 4px;
  color: var(--sidebar-inactive-color);
}

.sidebar .cat-link.active {
  color: var(--sidebar-active-color);
}

.sidebar .cat-link:hover {
  text-decoration: none;
  color: var(--sidebar-active-color);
}

.sidebar .cat-link:hover .fas,
.sidebar .cat-link.active .fas {
  color: inherit;
}
/*
 * Content
 */
.badges {
  white-space: nowrap;
}

.dashboard-header {
  color: var(--dashboard-font-color);
  text-decoration: none;
}

.dashboard-header:hover {
  color: var(--dashboard-highlight-color);
  text-decoration: none;
}

/* Regulate the look of the table and it's sort arrows */
/* Align all cells in the middle */
.dashboard {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.dashboard th {
  text-align: center;
}

.dashboard tbody td {
  border-top: 2px solid var(--dashboard-font-color);
  border-bottom: 2px solid var(--dashboard-font-color);
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}

.dashboard tbody td:first-child {
  border-top: 2px solid var(--dashboard-font-color);
  border-left: 2px solid var(--dashboard-font-color);
  border-bottom: 2px solid var(--dashboard-font-color);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.dashboard tbody td:last-child {
  border-top: 2px solid var(--dashboard-font-color);
  border-right: 2px solid var(--dashboard-font-color);
  border-bottom: 2px solid var(--dashboard-font-color);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.dashboard .impact-indicator,
.dashboard .impact-indicator:hover {
  text-decoration: none;
  color: inherit;
}

.dashboard .impact-indicator span:first-child {
  font-size: 5rem;
  line-height: 2.5rem;
  vertical-align: -0.25rem;
}

/* use bootstraps color-variables for danger warning and success */
.impact-indicator.high * {
  color: var(--danger);
}

.impact-indicator.medium * {
  color: var(--warning);
}

.impact-indicator.low * {
  color: var(--success);
}

.dashboard thead th {
  border: none;
  white-space: nowrap;
}

.dashboard thead th a {
  color: var(--dashboard-font-color);
  text-decoration: none;
}

.dashboard thead th .fa-sort {
  color: var(--dashboard-inactive-color);
}

.dashboard thead th .fa-sort-up,
.dashboard thead th .fa-sort-down {
  color: var(--dashboard-font-color);
}

.overflow-fade {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 3rem; 
}

.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overflow-link {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.dashboard .progress {
  min-width: 10rem;
  min-height: 2rem;
  margin: 1rem 0;
  border-radius: 0;
  font-size: 1.5rem;
  background-color: transparent;
}

.dashboard .progress-bar {
  color: var(--dashboard-font-color);
}

.click-wrapper,
.click-wrapper:hover {
  text-decoration: none;
}

.dashboard .quantity {
  white-space: nowrap;
  text-align: right;
  font-size: 130%;
}

.document-table .quantity {
  white-space: nowrap;
  text-align: right;
  display: inline-block;
  font-size: 100%;
}

.quantity span:first-child{
  display: inline-block;
  font-size: 130%;
  line-height: 130%;
  text-align: right;
}

.dashboard .btn-status {
  border: none;
  border-radius: 0.5rem;
  min-height: 5rem;
  min-width: 7rem;
}

.btn-nav {
  padding: auto;
  margin: 0.1rem;
}

.btn-naked {
  font-size: 2rem;
  color: var(--dashboard-inactive-color);
  border: none;
  padding: 0.1rem 0.6rem;
}

.btn-naked:hover {
  color: var(--sidebar-active-color);
  text-decoration: none;
}

#topAnchor {
  position: absolute;
  top: -4rem;
}

.table-entry {
  font-size: 130%;
  font-weight: bold;
  color: var(--dashboard-font-color);
}

.table-entry:hover {
  color: var(--dashboard-font-color);
  text-decoration: none;
}

dl.document-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

dl.document-data > dt {
  text-align: right;
  width: 12%;
}

dl.document-data > dd {
  padding-left: 0.6rem;
  width: 88%;
}

.word-cloud .word::after {
  content: " ";
}

.word-cloud .word.size-1 {
  font-size: 1rem;
}

.word-cloud .word.size-2 {
  font-size: 1.2rem;
}

.word-cloud .word.size-3 {
  font-size: 1.4rem;
}

.word-cloud .word.size-4 {
  font-size: 1.6rem;
}

.word-cloud .word.size-5 {
  font-size: 1.8rem;
}

.similarity {
  font-size: 130%;
  font-weight: bold;
  color: var(--dashboard-font-color);
}

.similarity.low {
  color: var(--danger);
}

.similarity.medium {
  color: var(--warning);
}

.similarity.high {
  color: var(--success);
}

.modal-dialog.fullscreen {
  height: 90%;
  max-height: 90%;
  width: 95%;
  max-width: 95%;
  padding: 0;
  margin: 2rem auto;
}

.modal-dialog.fullscreen .modal-content {
  height: 100%;
  width: 100%;
  margin: 0.5rem;
}

.modal-dialog.fullscreen .modal-body {
  display: flex;
}

.sticky {
  position: relative;
}

.sticky-bottom {
  position: relative;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    /* add 4rem because of sticky header */
    top: 4rem;
  }

  .sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 4rem;
  }
}

.pdf-sidepane {
  padding: 0.5rem 0;
  width: 100%;
}

.aspect-container {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 0 145% 0;
  border: 1px solid var(--dashboard-font-color);
}

.aspect-container > .aspect-clear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pdf-fullscreen {
  flex: 1;
}

ol.code-numbered {
  background-color: var(--diff-number-color);
  margin: 0;
}

.diff {
  font-family: monospace;
}

.diff.diff-left li.highlight {
  background-color: var(--diff-highlight-left-color);
}

.diff.diff-right li.highlight {
  background-color: var(--diff-highlight-right-color);
}

.diff li.crossout {
  background-color: var(--diff-crossout-color);
  list-style-type: none;
}

.diff li.crossout::before {
  content: "/";
  visibility: hidden;
}

.diff li {
  background-color: var(--diff-line-color);
  border-left: 2px solid var(--diff-border-color);
  padding-left: 0.5rem;
}

.diff li:nth-child(odd) {
  filter: brightness(97%);
}

table .width-1-3 {
  width: 33%;
}

table .width-2-3 {
  width: 67%;
}

.proto {
  visibility: hidden;
  display: none;
}

.badge-box input {
  display: none;
}

.badge-box:hover .badge {
  background-color: var(--sidebar-inactive-color);
}

.badge-box input:checked ~ .badge {
  background-color: var(--success);
}

.upload-form {
  color: white;
  border-radius: 0.5rem;
  background-color: var(--sidebar-inactive-color);
  width: 100%;
}

.upload-form.active {
  border: 0.3rem dashed white;
}

.upload-form input[type=file] {
  display: none;
}