/* This is a custom css for introducing some custom list which is checkable 
   and scrollable. 
   Needs custom-check-list.js for functionning properly
   
   Author: Johannes Mueller <j.mueller@reply.de> */

  .custom-check-list {
    max-height: 10rem;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 0 0 2rem 1rem var(--secondary);
  }
   
  .custom-check-list input[type=checkbox] {
    display: none;
    visibility: hidden;
  }

  .custom-check-list .fas {
    visibility: hidden;
  }