/* This is a custom css for introducing some custom list which is checkable 
   and scrollable. 
   Needs custom-check-list.js for functionning properly
   
   Author: Johannes Mueller <j.mueller@reply.de> */

.custom-check-list {
  border: 1px solid var(--gray);
  border-radius: 3px;
  background-image: radial-gradient(white, var(--diff-crossout-color));
}

.custom-check-list ul{
  height: 9rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.custom-check-list input[type=checkbox] {
  display: none;
  visibility: hidden;
}

.custom-check-list li {
  padding: 0;
}

.custom-check-list label {
  margin: 0;
  padding: 0.6rem;
  width: 100%;
}